/*@import url("/webfonts.css"); */

body {
	font-family: "OCR A Extended", "Ubuntu Mono", "Courier New", Courier, mono; 
	font-size: 20pt;
	color: #0099FF;
	background-color: #000000;
}

h1, h2, h3, h4 {
	text-align: center; 
}
h1 {
	font-size: 150%;
	margin: 50px; 
}

a {
	text-decoration: none;
	color: #00CCFF;
}

table, td {
	font-size: 85%;
	text-align: center;
	border-color: #0033CC;
	border-width: 1px; 
}
td:hover { 
	background-color: #003366;
}
td a, td a:visited {
	text-decoration: none;
	color: #0099FF;
}
td a:active {
	background-color: #003366;
}
@keyframes blink {  
    0% { color: #00CCFF; }
    100% { color: black; }
}
@-webkit-keyframes blink {
    0% { color: #00CCFF; }
    100% { color: black; }
}
.blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
} 

#splash {
	position:absolute;
	width:300px;
	height:300px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-150px 0 0 -150px;
	text-align: center; 
	vertical-align: middle;
}

	::-webkit-scrollbar { width: 10px; height: 10px;  }
	::-webkit-scrollbar-button {  background-color: #0033CC; }
	::-webkit-scrollbar-track {  background-color: #0099FF;}
	::-webkit-scrollbar-track-piece { background-color: #000033;}
	::-webkit-scrollbar-thumb { height: 50px; background-color: #0033CC; }
	::-webkit-scrollbar-corner { background-color: #0033CC;}}
	::-webkit-resizer { background-color: #666;}