/* GOOGLE FONT API */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic);

@font-face {
	font-family: CABNDWebBold;
	src: url("/fonts/CABNDWebBold.otf") format("opentype");
}

@font-face {
	font-family: Delicious;
	src: url("/fonts/Delicious-Roman.otf") format("opentype");
}

@font-face {
	font-family: "Delicious Heavy";
	src: url("/fonts/Delicious-Heavy.otf") format("opentype");
}

@font-face {
	font-family: "Graublau Sans";
	src: url("/fonts/GraublauWeb.otf") format("opentype");
}

@font-face {
	font-family: "Graublau Sans";
	font-weight: 900; 
	src: url("/fonts/GraublauWebBold.otf") format("opentype");
}

@font-face {
	font-family: "Linden Hill";
	src: url("/fonts/Linden Hill.otf") format("truetype");
}

@font-face {
	font-family: "Linden Hill";
	font-style: italic; 
	src: url("/fonts/Linden Hill Italic.otf") format("truetype");
}

@font-face {
	font-family: Myndraine;
	src: url("/fonts/Myndraine.otf") format("opentype");
}

/* TRUETYPE */

@font-face {
	font-family: Fanwood;
	src: url("/fonts/GenBkBasR.ttf") format("opentype");
}

@font-face {
	font-family: Fanwood;
	font-style: italic;
	src: url("/fonts/fanwood-webfont.ttf") format("opentype");
}
@font-face {
	font-family: "Gentium Book";
	src: url("/fonts/GenBkBasR.ttf") format("opentype");
}
@font-face {
	font-family: "Gentium Book";
	font-weight: bold;
	src: url("/fonts/GenBkBasB.ttf") format("opentype");
}
@font-face {
	font-family: "Gentium Book";
	font-style: italic;
	src: url("/fonts/GenBkBasI.ttf") format("opentype");
}
@font-face {
	font-family: "Gentium Book";
	font-weight: bold;
	font-style: italic;
	src: url("/fonts/GenBkBasBI.ttf") format("truetype");
}

@font-face {
	font-family: Junction;
	src: url("/fonts/Junction.ttf") format("truetype");
}

@font-face {
	font-family: Merriweather;
	src: url("/fonts/Merriweather.ttf") format("truetype");
}

@font-face {
	font-family: "OCR A Extended";
	src: url("/fonts/OCR A Extended.ttf") format("truetype");
}

@font-face {
	font-family: "Sorts Mill Goudy";
	src: url("/fonts/GoudyStM-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Sorts Mill Goudy";
	font-style: italic; 
	src: url("/fonts/GoudyStM-Italic-webfont.ttf") format("truetype");
}

@font-face {
	font-family: Teletype;
	src: url("/fonts/Teletype.ttf") format("truetype");
}

@font-face {
	font-family: "Traveling Typewriter";
	src: url("/fonts/TravelingTypewriter.ttf") format("truetype");
}

@font-face {
	font-family: Village;
	src: url("/fonts/Village.ttf") format("truetype");
}

