/* WEBFONTS */
@import url("/webfonts.css"); 
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700italic,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

/* RESET */
* {
	margin: 0; 
	padding: 0;
}

body {
	color:#333333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt; 
}

h1, h2, h3, h4 { 
	color:#000000; 
	font-family: "Traveling Typewriter", Georgia, "Times New Roman", Times, serif; 
	font-weight: normal;
}

ul, ol, li { 
	font-size: 100%; 
	text-align: left;
}
li { margin-top: 5px; }

img { max-width: 100%; }

.foto-inicio {
	float: left;
	margin-right: 20px; 
	margin-bottom: 15px; 
	max-width: 60%; 
}
.foto-final {
	float: right;
	margin-left: 20px; 
	margin-bottom: 15px; 
	max-width: 60%; 
}

.navbar {
	font-size:12pt; 
	font-style: italic;
/*	float: right;*/
	text-align: right; 
	width:100%;
	padding: 10px 20px;
	clear:both;
}
.navbar a, .navbar a:visited { 	color: #333333; }

.una_columna {
	width: 70%; 
	margin: auto;
	text-align: justify;
}

.dos_columnas {
	width: 70%; 
	margin: auto;
	column-count: 2; 
	column-gap: 2em; 
	-moz-column-count: 2; 
	-moz-column-gap: 2em; 
	-webkit-column-count: 2; 
	-webkit-column-gap: 2em; 
	text-align: justify;
}

.tres_columnas {
	width: 90%; 
	margin: auto;
	column-count: 3; 
	column-gap: 2em; 
	-moz-column-count: 3; 
	-moz-column-gap: 2em; 
	-webkit-column-count: 3; 
	-webkit-column-gap: 2em; 
	text-align: justify;
}

.subtitulo {
	text-align: left;
	font-size: 125%; 
	font-weight: bold;
}

.firma {
	font-weight: bold; 
	font-style: italic; 
	text-align:right;
	margin-top: 20px;
}

.fecha {
	text-align: right; 
/*	font-family: Merriweather, Georgia, "Times New Roman", Times, serif; */
	font-size: 20pt;
}

.AdSense-left { 
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px; 
}
.AdSense-right { 
	float: right;
	margin-left: 10px; 
	margin-bottom: 10px; 
}
