@import url(screen.css) screen; 
@import url(print.css) print;
@import url(/webfonts.css); 

body, textarea, input {
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-align: left;
	margin: 10px;
}

h1 { font-size: 36pt; margin-bottom: 30px; }
h2 { font-size: 30pt; text-align: right; width: 90%; }
h3 { font-size: 24pt; }
h4 { font-size: 20pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }

a { 
	color: #000000; 
	text-decoration: none; 
}
a:hover { border-bottom: thin dotted; }

.label { text-align: right; }

textarea, input[type=text], input[type=password] { 
/*	padding: 3px; */
	margin: 3px;
/*
	font-size: 110%;
*/
	word-wrap: normal; 
} 

.botonera {
	/*text-align: center; */
	float: left; 
	width: 100%;
	/*padding: 5px;*/
	border-bottom: medium solid darkbrown; 
}
.boton { 										
	padding: 6px 8px; 
	margin: 0px 0px 0px 6px; 
	border: /*1px solid darkbrown; */ 0px;
	background-color: white; 
}
.boton.selected {
	color: white; 
	background-color: darkbrown; 
}

.container {
	float: right;
	padding: 3px;
}

/*
.datos, .fono, .fondesc { margin: 3px; }
*/

.datos, .fono, .fondesc, .email {
	font-size: 11pt;
}

.datos {
	display: inline; 
	border-bottom: thin solid lightgray; border-left: thin solid lightgray; 
	border-top: none; border-right: none; 
}

.fono {
	text-align: right;
	font-weight: bold;
	padding: 5px; 
	border-bottom: thin solid lightgray; border-right: /*thin*/ solid lightgray; 
	border-top: none; border-left: none; 
}

.fondesc {
	text-align: left;
	padding: 5px; 
	border-bottom: thin solid lightgray; border-left: /*thin*/ solid lightgray; 
	border-top: none; border-right: none; 
}

.email {
	text-align: right;
	font-style: italic; 
	padding: 5px; 
	border-bottom: thin solid lightgray; border-right: /*thin*/ solid lightgray; 
	border-top: none; border-left: none; 
}

.menu {
/*	text-align: center; */
	float: left; 
	padding: 3px;
	display: table-cell;
	border-right: medium solid darkbrown; 
}
.msg { 
	color: red; 
	border: 1px solid red; 
	background-color: #FFCCCC; 
	margin: 10px; 
	padding: 10px;
}

dl.border-around {
	margin: 2em 0;
	padding: 0;
	width: 20em;
	font-family: Arial, Helvetica, sans-serif;
}

.border-around dt
{
	background-color: #131210;
	color: #959289;
	padding: .5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-top: 1px solid #131210;
}

.border-around dd {
	margin: 0 0 1em 0;
	background: #DBD8D8;
	text-align: center;
	padding: 1em .5em;
	font-style: italic;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-bottom: 1px solid #131210;
}

dl.event {
	margin: 2em 0;
	padding: 0;
	font-family: georgia, times, serif;
}

.event dt {
	position: relative;
	left: 0;
	top: 1.1em;
	width: 5em;
	font-weight: bold;
}

.event dd {
	border-left: 1px solid #000;
	margin: 0 0 0 6em;
	padding: 0 0 .5em .5em;
}

.fleft { float: left }