@charset "utf-8";
/* CSS Document */

a { color: black; text-decoration: none; }

.box { position:fixed; width: 41%; height: 41%; padding: 10px; border: thin dotted black; font-family: Georgia; }

.prot { top: 6%; left: 6%; }

.ant { top: 6%; left: 53%; }

.esc { top: 53%; left: 6%; }

.tr { top: 53%; left: 53%; }

.chapa { text-align: left;   font-size: 11pt; font-style: italic; }

.item  { text-align: center; font-size: 30pt; font-weight: bold; }

.desc  { text-align: center; font-size: 16pt; padding: 20px; }

.tiny { font-size: 8pt; font-family: Arial, Helvetica, sans serif; }

.listitem { font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 3px;}

