@import "zzz.css";

/*
.oidos, .ba { text-decoration: underline double red; }
*/
.nop { display: none; }
.no { font-weight: bold; color: black; text-decoration: underline double red; }
.rogar { text-decoration: line-through wavy black; }
.almargenr { display: inline; }
.enfermera, .birome { display: inline; font-weight: bold; }
.locos, .demonio { display: inline; }
.nononono { display: inline; }
