vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Jun 2015 18:13:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|mislibros/AbajoParaSiempre.html mislibros/mislibros.html mislibros/(OLD)\\ libroNaim.html mislibros/mislibros.dwt mislibros/TresCuentosConDiosas.html mislibros/RodrigoyelLibroSinFinal.html promos/furiarreciente.html cv.html perlitas.html almadebit.html columnas.html index.html linx.html novedades.html mislibros/(OLD)\\ libroBellacrin.html mislibros/(OLD)\\ libroRodrigo.html mislibros/BajoLasLunas.html clips.html mislibros/antologias.html mislibros/BellacrinylaSombra.html mislibros/EnelJardin.html mislibros/FabulaCero.html colaborar.html libros.html mislibros/Beowulf.html mislibros/NaimyelMagoFugitivo.html
vti_author:SR|WIN8-BIT\\bit
vti_modifiedby:SR|WIN8-BIT\\bit
vti_timecreated:TR|10 Jun 2015 18:13:42 -0000
vti_cacheddtm:TX|10 Jun 2015 18:13:42 -0000
vti_filesize:IR|1762
vti_cachedlinkinfo:VX|Q|/css/base.css S|../fotocarnet.gif
vti_cachedsvcrellinks:VX|NQUS|/css/base.css NSUS|fotocarnet.gif
