vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2012 23:21:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|WIN8-BIT\\bit
vti_modifiedby:SR|WIN8-BIT\\bit
vti_timecreated:TR|05 Nov 2012 23:21:04 -0000
vti_cacheddtm:TX|05 Nov 2012 23:21:04 -0000
vti_filesize:IR|97
vti_cachedlinkinfo:VX|Q|screen.css Q|print.css Q|/webfonts.css
vti_cachedsvcrellinks:VX|FQUS|agenda/backup/screen.css FQUS|agenda/backup/print.css NQUS|/webfonts.css
vti_backlinkinfo:VX|agenda/backup/screen.css agenda/backup/style.css
